* { -webkit-hyphens: none;
	box-sizing: border-box; }
div {
	/* These are technically the same, but use both */
	
}
body {
	margin: 0px;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
}
.clear {clear: both;}
.clear-bottom::after {
	clear: both;
	display: block;
	content: "";
}
.wrapper {
	width: 100%;
	margin: 0px auto;
	padding-right: 20px !important;
	padding-left: 20px !important;
	
	@media screen and (min-width: $tabwidth) {
		width: 100%;
	}
	@media screen and (min-width: $deskwidth) {
		width: 1200px;
	}
}

.content-area {
	width: 100%;
	margin: 0px auto;
	
	@media screen and (min-width: $tabwidth) {
		width: 66%;
		float: left;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}

.widget-area {
	width: 100%;
	margin: 0px auto;
	
	@media screen and (min-width: $tabwidth) {
		width: 26%;
		float: right;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}


/* Logo */
.logo-25 , h1.logo-25 {
	// width: 283px;
	// height: 246px;
	width: 200px;
	height: 174px;
	background: {
		image: url(images/optima-25.jpg);
		size: cover;
	}	
	margin: 0px auto 10px auto;

	@media screen and (min-width: $tabwidth) {
		
		float: left;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
		margin: 45px 0 0 20px;
	}
}
.logo-25 a, h1.logo-25 a {
	// width: 283px;
	// height: 246px;
	width: 200px;
	height: 174px;
	display: block;
	text-indent: -9000px;

	@media screen and (min-width: $tabwidth) {
		
	}
	@media screen and (min-width: $deskwidth) {
		
	}
}
#footer {
	width: 100%;
	background-color:#7C7570;
	font-size: 16px;
	color: #FFF;
}

.aboutcol1 {
	width: 100%;
	@media screen and (min-width: $tabwidth) {
			
	}
	@media screen and (min-width: $deskwidth) {
		width: 500px;
	}
}
/*  
	Page Structure  
*/
/*  
	site map Structure  
*/
.sitemap-column {
	
	float:left;
	margin-right: 30px;
	@media screen and (min-width: $tabwidth) {
			
	}
	@media screen and (min-width: $deskwidth) {
		width: 300px;
	}
	h3{
		margin-top: 30px;
	}
}

.searchtitle {
	width: 100%;
	float:left;
	margin-bottom: 30px;
	border-bottom: #ccc solid 3px;	
	@media screen and (min-width: $tabwidth) {
			
	}
	@media screen and (min-width: $deskwidth) {
		width: 700px;
	}
}
#page-content {
	width: 100%;
	float:left;
	
	font-size: 16px;
	line-height: 25px;
	color: #000;
	@media screen and (min-width: $tabwidth) {
			
	}
	@media screen and (min-width: $deskwidth) {
		width: 1150px;
		min-height: 500px;
		padding: 30px 0px 50px 50px;
	}
	h1 {
		width: 100%;
		color: $color-red;
		margin-bottom: 15px;
		margin-top: 15px;

		@media screen and (min-width: $midwidth) {
			width: auto;
		}
	}
	h2 {
		color: $color-red;
		margin-bottom: 20px;
		@media screen and (min-width: $tabwidth) {

		}
	}
	h2.uni {
		color: $color-red;
		margin-bottom: 20px;
		margin-top: 35px;
		@media screen and (min-width: $tabwidth) {
			margin-top: 0px;
		}
	}
	img {
		width: 100%;
		margin-top: 15px;
		@media screen and (min-width: $tabwidth) {
			width: auto;
			margin-top:-15px;
		}
	}
	img.gfield_captcha {
		width: auto;
	}
}
#page-left {
	width: 100%;
	float:left;	
	
	@media screen and (min-width: $tabwidth) {
		width: 60%;
	}
	@media screen and (min-width: $deskwidth) {
		width: 680px;
		padding-right: 40px;
	}
}
#page-right {
	width: 100%;
	float:right;	
	@media screen and (min-width: $tabwidth) {
		width: 40%;
	}
	@media screen and (min-width: $deskwidth) {
		width: 690px;
	}
}
#page-tax {
	width: 100%;
	float:left;	
	margin-bottom: 30px;
	@media screen and (min-width: $tabwidth) {
			
	}
	@media screen and (min-width: $deskwidth) {
		// width: 1150px;
	}
}
.post {
	width: 100%;
	float:left;
	@media screen and (min-width: $tabwidth) {
			
	}
	@media screen and (min-width: $deskwidth) {
		width: 900px;
	}
}	
#sidebar {
	width: 100%;
	@media screen and (min-width: $tabwidth) {
		width: 33%;	
		float: right;
	}
	@media screen and (min-width: $deskwidth) {
		width: 270px;
		padding: 20px;
		margin-left: 40px;
		margin-top: 0px;
	}
	li {
		margin-left: 15px;
	}
}
#side-tax {
	float: left;
	@media screen and (min-width: $tabwidth) {
		width: 30%;
		padding: 20px;
	}
	@media screen and (min-width: $deskwidth) {
		width: 500px;
	}
}
#footer-cont {
	width: 100%;
	margin: 40px auto 0px auto;
	background-color:#7C7570;
	font-size: 14px;
	color: #FFF;
	padding: 20px;
	text-align:center;
	@media screen and (min-width: $tabwidth) {
			
	}
	@media screen and (min-width: $deskwidth) {
		width: 1100px;
	}
	a {
		color: #FFF;
	}
}

/* =======================================================================
						Block Quote
======================================================================= */
blockquote {
	width: 100%;
	float:left;
	/*background: #f9f9f9;*/
	margin:  10px 30px 10px 0px;
	padding:  10px;
	border-top-width: 6px;
	border-bottom-width: 6px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #E5E5E5;
	border-bottom-color: #E5E5E5;
	/*quotes: "\201C""\201D""\2018""\2019";*/
	color: $color-red;
	 font-size: 22px;
	 @media screen and (min-width: $tabwidth) {
			
	}
	@media screen and (min-width: $midwidth) {
		width: 280px;
	}
}
blockquote:before {
  /*color: #ccc;
  content: open-quote;
  font-size: 30px;
  line-height: 22px;
  margin-right: 0.25em;
  vertical-align: -0.4em;*/
}
blockquote p {
  display: inline;
}
img {
	max-width: 100%;
}
#masthead {
	border-bottom: 4px solid $color-red;
	>.wrapper {
		@media screen and (min-width: $tabwidth) {
			@include flexbox();
			@include flexbox-justify(space-between);
			@include flexbox-align-content(stretch);
			@include flexbox-align-items(stretch);
			padding: 10px 0;
		}
		>.col-1 {
			@media screen and (min-width: $tabwidth){
				width: 20%;
			}
			.logo {
				margin: 0;
				a {
					display: block;
					img {
						width: 100%;
						display: block;
					}
				}
			}
		}
		>.col-2 {
			@media screen and (min-width: $tabwidth){
				width: 80%;
				@include flexbox();
				@include flexbox-justify(flex-start);
				@include flexbox-align-content(stretch);
				@include flexbox-align-items(stretch);
				@include flexbox-direction(column);
			}
			#header-right-top {
				padding: 5px 0 0 0;
				#topbar {
					margin: 0 0 20px 0;
					width: 100%;
					ul {
						margin: 0;
						padding: 0;
						text-align: center;
						@media screen and (min-width: $tabwidth) {
							text-align: right;
						}
						@media screen and (min-width: $midwidth) {
						}
						li {
							list-style-type: none;
							vertical-align: top;
							margin: 10px 0 0 0;
							@media screen and (min-width: $tabwidth) {
								margin: 0 10px;
								display: inline-block;
							}
							@media screen and (min-width: $midwidth) {
							}
							&:last-child {
								margin-right: 0;
							}
							&:first-child {
								margin-top: 0;
							}
							a { 
								color: black;
								text-transform: uppercase;
								font-size: 14px;
								font-weight: 500;
								display: block;
								@media screen and (min-width: $tabwidth) {

								}
								@media screen and (min-width: $midwidth) {
								}
								@media screen and (min-width: $deskwidth) {
								}
								i {
									font-size: 30px;
									line-height: .65;
									display: block;
								}
							}
						}
					}
				}
			}
			nav#site-navigation {
				padding: 0 0 20px 0;
				text-align: center;
				@media screen and (min-width: $tabwidth) {
					margin: auto 0 0 0;
					text-align: right;
				}
				&.toggled {
					>div {
						display: block;
					}
				}
				button {
					margin: 0 0 20px 0;
					border: 1px solid black;
					padding: 10px;
					border-radius: 3px;
					font-size: 18px;
					text-shadow: none;
					box-shadow: none;
					color: black;
					background: transparent;
					@media screen and (min-width: $tabwidth) {
						display: none;
					}
				}
				>div {
					display: none;
					@media screen and (min-width: $tabwidth) {
						display: block;
					}
					ul {
						margin: 0;
						padding: 0;
						li {
							list-style-type: none;
							margin: 10px 0 0 0;
							@media screen and (min-width: $tabwidth) {
								display: inline-block;
								margin: 0 10px;
							}
							&:last-child {
								margin-right: 0;
							}
							&:first-child {
								margin-top: 0;
							}
							a {
								font-size: 18px;
								display: block;
								font-weight: 500;
								text-transform: uppercase;
								color: black;
							}
							ul.sub-menu {
								display: none;
							}
						}
					}
				}
			}
		}
	}
}