/* Pagination
-------------------------------------------------------------- */

.pavigation {
	margin: 20px 0 0 0;
}
.pavigation li a,
.pavigation li a:hover,
.pavigation li.active a,
.pavigation li.disabled {
	color: #fff;
	text-decoration:none;
	display: block;
}

.pavigation li {
	display: inline-block;
}

.pavigation li a,
.pavigation li a:hover,
.pavigation li.active a,
.pavigation li.disabled {
	background-color: #CCCCCC;
	border-radius: 3px;
	cursor: pointer;
	padding: 12px;
	padding: 0.75rem;
}

.pavigation li a:hover,
.pavigation li.active a {
	background-color: #999999;
}